<div class="row" dragular="dc.options">
	<div ng-class="{'col-lg-3 col-md-6 col-xs-12' : widget.graph === 1, 'col-lg-4' : widget.graph === 0, 'col-lg-8' : widget.graph === 2}" ng-repeat="widget in dc.container">
		<div class="widget content" ng-if="widget.graph === 1">
			<div class="widget-content">
				<div class="widget-icon pull-left" ng-class="{'chlorophyll' : widget.tenant, 'danger' : widget.user, 'sun' : widget.device}">
					<i ng-class="{'glyphicon glyphicon-education' : widget.tenant, ' glyphicon glyphicon-user' : widget.user, ' glyphicon glyphicon-phone' : widget.device}"></i>
				</div>
				<div class="title">
					<span ng-if="widget.tenant" class='handle glyphicon glyphicon-share input-sm move-pointer btn-plain pull-right'></span><span ng-if="widget.tenant">{{widget.tenant.count}}</span>
					<span ng-if="widget.user" class='handle glyphicon glyphicon-share input-sm move-pointer btn-plain pull-right'></span><span ng-if="widget.user">{{widget.user.count}}</span>
					<span ng-if="widget.device" class='handle glyphicon glyphicon-share input-sm move-pointer btn-plain pull-right'></span><span ng-if="widget.device">{{widget.device.count}}</span>
				</div>
				<div class="comment">
					<span ng-if="widget.tenant">{{ 'TENANTS' | translate }}</span>
					<span ng-if="widget.user">{{ 'USERS' | translate }}</span>
					<span ng-if="widget.device">{{ 'DEVICES' | translate }}</span>
				</div>
			</div>
		</div>
		<div class="widget content" ng-if="widget.graph === 0">
			<div class="widget-content">
				<div class="move-icon">
					<span class="handle glyphicon glyphicon-share pad-content move-pointer"></span>
				</div>
				<highchart id="chart" ng-if="widget.lineChartNG" config="widget.lineChartNG"></highchart>
				<highchart id="chart" ng-if="widget.highChartNG" config="widget.highChartNG"></highchart>
   			</div>
   		</div>
	</div>
</div>