<div class="row">
   <widget icon="glyphicon glyphicon-education fa-lg" heading="{{ 'Roles' | translate }}">
     <widget-header>
     	<div class="btn-group black-text pull-right">
     		<a tooltip="{{ 'Manage Columns' | translate }}" popover-template="'templates/roles/roles_view_popover.html'" popover-append-to-body="true" popover-placement="bottom">
            	<i class="glyphicon glyphicon-th-large btn"></i>
            </a>
			<dropdown is-button ng-model="rc.itemsByPage" callback="rc.callback(item)"></dropdown>
     	</div>
     </widget-header>
     <widget-body classes="widget-body">
       <div class="table-responsive">
         <table st-pipe="rc.callServer" st-table="rc.displayed" class="table table-hover table-bordered">
           	<thead>
           		<tr>
					<th colspan="6">
						<div class="col-xs-4 input-group">
							<input class=" form-control" st-search="name" ng-model="rc.filter.name" placeholder="{{ 'Role Name'| translate }}" type="search"/>
							<span class="input-group-addon">
								<i class=" glyphicon glyphicon-search"></i>
							</span>
						</div>
					</th>
				</tr>
				<tr>
					<th>{{ 'Role Name' | translate }}</th>
					<th ng-show="rc.columns.colRolesDescription">{{ 'Description' | translate }}</th>
					<th ng-show="rc.columns.colRolesCreated">{{ 'Created' | translate }}</th>
					<th ng-show="rc.columns.colRolesUpdated">{{ 'Updated' | translate }}</th>
					<th>{{ 'Edit' | translate }}</th>
					<th>{{ 'Delete' | translate }}</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td ng-if="rc.displayed.length == 0" colspan="100%" class="text-center">{{ 'No roles found in system' | translate }}</td>
				</tr>
				<tr ng-repeat="row in rc.displayed">
					<td>{{row.roleName}}</td>
					<td ng-show="rc.columns.colRolesDescription">{{row.description}}</td>
					<td ng-show="rc.columns.colRolesCreated">{{row.createdOn | date:'dd-MMM-yyyy'}}</td>
					<td ng-show="rc.columns.colRolesUpdated">{{row.updatedOn | date:'dd-MMM-yyyy'}}</td>
					<td class="col-md-1 text-center">
						<button id="editRole" class="btn-plain" ng-click="transition('RoleEdit', { id: row.id });">
							<i class="chlorophyll-text glyphicon glyphicon-pencil fa-lg"></i>
						</button>
					</td>
					<td class="col-md-1 text-center">
						<button id="deleteRole" class="btn-plain" ng-click="rc.deleteRole(row.id)">
							<i class="danger-text glyphicon glyphicon-trash fa-lg"></i>
						</button>
					</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="6" class="text-center">
						<div st-pagination="" st-items-by-page="rc.itemsByPage"></div>
					</td>
				</tr>
			</tfoot>
         </table>
       </div>      
     </widget-body>
     <widget-footer>
     	<div class="clearfix"></div>
     </widget-footer>
   </widget>
</div>
