<div class="row">
	<div class="col-lg-12">
		<widget icon="glyphicon glyphicon-education fa-lg" heading="{{(mr.role.id ? 'Edit Role' : 'Add Role') | translate}}">
	   		<widget-header></widget-header>
	   		<widget-body>
				<form name="roleForm" ng-submit="mr.saveRole()">
				    <tabset>
				    	<tab heading="{{ 'Role' | translate }}">
				    		<div class ="row tab-border">
				    			<div class="col-lg-6">
				    				<div class="form-horizontal">
					    				<div class="form-group required">
									    	<label for="name" class="col-sm-3 control-label">{{ 'Role Name' | translate }}</label>
									    	<div class="col-sm-9" ng-class="{ 'has-error' : roleForm.roleName.$invalid && !roleForm.roleName.$pristine }">
									        	<input type="text" name="roleName" id="roleName" class="form-control" ng-model="mr.role.roleName" required placeholder="{{ 'Name' | translate }}" />
									        </div>
										</div>
										<div class="form-group">
									    	<label for="description" class="col-sm-3 control-label">{{ 'Description' | translate }}</label>
									    	<div class="col-sm-9">
									        	<input type="text" name="description" id="description" class="form-control" ng-model="mr.role.description" placeholder="{{ 'Description' | translate }}" />
									        </div>
										</div>
									</div>
				    			</div>
				    			<div class="col-lg-6">
				    			</div>
				    		</div>
				    	</tab>
				  	</tabset>
				  	<div class="row top-buffer">
					  	<div class="col-sm-7 col-sm-offset-5">
							<button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i>{{ 'Save' | translate }}</button>
							<a type="button" href="#/roles" class="btn btn-default"><i class="glyphicon glyphicon-remove"></i>{{ 'Cancel' | translate }}</a>
			      		</div>
		      		</div>
			  	</form>
			</widget-body>
		</widget>
	</div>
</div>
