<table class="table-condensed">
    <tr>
        <td class="text-center">
            <switch class="mini" ng-model="rc.columns.colRolesDescription"></switch>
        </td>
        <td nowrap>{{ 'Description' | translate }}</td>
    </tr>
    <tr>
        <td class="text-center">
            <switch class="mini" ng-model="rc.columns.colRolesCreated"></switch>
        </td>
        <td nowrap>{{ 'Created' | translate }}</td>
    </tr>
     <tr>
        <td class="text-center">
            <switch class="mini" ng-model="rc.columns.colRolesUpdated"></switch>
        </td>
        <td nowrap>{{ 'Updated' | translate }}</td>
    </tr>
</table>