<div class="row">
	<div class="col-lg-12">
		<widget icon="glyphicon glyphicon-user fa-lg" heading="{{(mu.user.id ? 'Edit User' : 'Add User') | translate}}">
			<form name="userForm" ng-init="password.recheck = null" ng-submit="(!password.invalid) && (mu.user.id ? mu.updateUser() : mu.saveUser())">
		   		<widget-header></widget-header>
		   		<div ng-show="false" ng-bind="password.invalid = (mu.user.password && !(mu.user.password == password.recheck))"></div>
		   		<widget-body>
				    <tabset>
				    	<tab heading="{{ 'User' | translate }}">
				    		<div class ="row tab-border">
				    			<div class="col-lg-7">
				    				<div class="form-horizontal">
										<div class="form-group required">
									    	<label for="userName" class="col-sm-3 control-label">{{ 'Username' | translate }}</label>
									    	<div class="col-sm-9" ng-class="{ 'has-error' : userForm.userName.$invalid && !userForm.userName.$pristine }">
									        	<input type="text" name="userName" id="userName" class="form-control" ng-model="mu.user.userName" required placeholder="{{ 'Username'| translate }}" />
									        </div>
										</div>
										<div class="form-group required">
									    	<label for="firstName" class="col-sm-3 control-label">{{ 'First Name' | translate }}</label>
									    	<div class="col-sm-9" ng-class="{ 'has-error' : userForm.firstName.$invalid && !userForm.firstName.$pristine }">
									        	<input type="text" name="firstName" id="firstName" class="form-control" ng-model="mu.user.firstName" required placeholder="{{ 'First Name'| translate }}" />
									        </div>
										</div>
										<div class="form-group">
									    	<label for="lastName" class="col-sm-3 control-label">{{ 'Last Name' | translate }}</label>
									    	<div class="col-sm-9" ng-class="{ 'has-error' : userForm.lastName.$invalid && !userForm.lastName.$pristine }">
									        	<input type="text" name="lastName" id="lastName" class="form-control" ng-model="mu.user.lastName" placeholder="{{ 'Last Name'| translate }}" />
									        </div>
										</div>
									  	<div class="form-group" ng-class="{'required' : !mu.user.id}">
									    	<label for="password" class="col-sm-3 control-label">{{ 'New Password' | translate }}</label>
									    	<div class="col-sm-9" ng-class="{ 'has-error' : !mu.user.id && userForm.password.$invalid && !userForm.password.$pristine }">
									        	<input type="password" name="password" id="password" class="form-control" ng-model="mu.user.password" ng-required="!mu.user.id" placeholder="{{ 'New Password'| translate }}" />
									        </div>
										</div>
										<div class="form-group" ng-class="{'required' : !mu.user.id}">
									    	<label for="reenterPassword" class="col-sm-3 control-label">{{ 'Re-Enter Password' | translate }}</label>
									    	<div class="col-sm-9" ng-class="{ 'has-error' : password.invalid}">
									        	<input type="password" name="reenterPassword" class="form-control" ng-model="password.recheck" ng-required="!mu.user.id" placeholder="{{ 'Re-enter Password'| translate }}"
									        		   tooltip="{{ 'Passwords do not match' | translate }}" tooltip-placement="top" tooltip-trigger="mouseenter" tooltip-enable="password.invalid" />
									        </div>
										</div>
										<div class="form-group">
									    	<label for="address" class="col-sm-3 control-label">{{ 'Address' | translate }}</label>
									    	<div class="col-sm-9" ng-class="{ 'has-error' : userForm.address.$invalid && !userForm.address.$pristine }">
									        	<input type="text" name="address" id="address" class="form-control" ng-model="mu.user.address" placeholder="{{ 'Address'| translate }}" />
									        </div>
										</div>
									  	<div class="form-group required">
										    <label for="group" class="col-sm-3 control-label">{{ 'Role' | translate}}</label>
										    <div class="col-sm-9">
										      	<select class="form-control" ng-model="mu.user.role.id" ng-options="role.id as role.roleName for role in mu.roles" required>
										      		<option value="">---{{'Select Role' | translate}}---</option>
												</select>
										    </div>
									  	</div>
									</div>
				    			</div>
				    			<div class="col-lg-5">
				    			</div>
				    		</div>
				    	</tab>
				  	</tabset>
				  	<div class="row top-buffer">
					  	<div class="col-sm-7 col-sm-offset-5">
							<button type="submit" class="btn btn-primary" tooltip="{{ 'Passwords do not match' | translate }}" tooltip-enable="password.invalid"><i class="glyphicon glyphicon-floppy-disk"></i>{{ 'Save' | translate}}</button>
					      	<a type="button" href="#/users" class="btn btn-default"><i class="glyphicon glyphicon-remove"></i>{{'Cancel' | translate}}</a>
			      		</div>
		      		</div>
				</widget-body>
			</form>
		</widget>
	</div>
</div>
