<div class="row">
   <widget icon="glyphicon glyphicon-user fa-lg" heading="{{ 'Users' | translate }}">
     <widget-header>
     	<div class="btn-group black-text pull-right">
     		<a tooltip="{{ 'Manage Columns' | translate }}" popover-template="'templates/users/users_view_popover.html'" popover-append-to-body="true" popover-placement="bottom">
            	<i class="glyphicon glyphicon-th-large btn"></i>
            </a>
			<dropdown is-button ng-model="uc.itemsByPage" callback="uc.callback(item)"></dropdown>
     	</div>
     </widget-header>
     <widget-body classes="widget-body">
       <div class="table-responsive">
         <table st-pipe="uc.callServer" st-table="uc.displayed" class="table table-hover table-bordered">
           	<thead>
           		<tr>
					<th colspan="100%">
						<div class="col-xs-4 input-group">
							<input class=" form-control" st-search="name" ng-model="uc.filter.name" placeholder="{{ 'Username'| translate }}" type="search"/>
							<span class="input-group-addon">
								<i class="glyphicon glyphicon-search"></i>
							</span>
						</div>
					</th>
				</tr>
				<tr>
					<th>{{ 'Username' | translate }}</th>
					<th ng-show="uc.columns.colFirstName">{{ 'First Name' | translate }}</th>
					<th ng-show="uc.columns.colLastName">{{ 'Last Name' | translate }}</th>
					<th ng-show="uc.columns.colAddress">{{ 'Address' | translate }}</th>
					<th ng-show="uc.columns.colUsersRole">{{ 'Role' | translate }}</th>
					<th ng-show="uc.columns.colUsersCreated">{{ 'Created' | translate }}</th>
					<th ng-show="uc.columns.colUsersUpdated">{{ 'Updated' | translate }}</th>
					<th class="text-center">{{ 'Edit' | translate }}</th>
					<th class="text-center">{{ 'Delete' | translate }}</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td ng-if="uc.displayed.length == 0" colspan="100%" class="text-center">{{ 'No users found in system' | translate }}</td>
				</tr>
				<tr ng-repeat="row in uc.displayed">
					<td>{{row.userName}}</td>
					<td ng-show="uc.columns.colFirstName">{{row.firstName}}</td>
					<td ng-show="uc.columns.colLastName">{{row.lastName}}</td>
					<td ng-show="uc.columns.colAddress">{{row.address}}</td>
					<td ng-show="uc.columns.colUsersRole">{{ row.role.roleName | translate }}</td>
					<td ng-show="uc.columns.colUsersCreated">{{row.createdOn | date }}</td>
					<td ng-show="uc.columns.colUsersUpdated">{{row.updatedOn | date }}</td>
					<td class="col-md-1 text-center">
						<button id="editUser" class="btn-plain" ng-click="transition('UserEdit', { id: row.id });">
							<i class="chlorophyll-text glyphicon glyphicon-pencil fa-lg"></i>
						</button>
					</td>
					<td class="col-md-1 text-center">
						<button id="deleteUser" class="btn-plain" ng-click="uc.deleteUser(row.id)">
							<i class="danger-text glyphicon glyphicon-trash fa-lg"></i>
						</button>
					</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="100%" class="text-center">
						<div st-pagination="" st-items-by-page="uc.itemsByPage"></div>
					</td>
				</tr>
			</tfoot>
         </table>
       </div>      
     </widget-body>
     <widget-footer>
     	<div class="clearfix"></div>
     </widget-footer>
   </widget>
</div>
