<table class="table-condensed">
    <tr>
        <td class="text-center">
            <switch class="mini" ng-model="uc.columns.colFirstName"></switch>
        </td>
        <td nowrap>{{ 'First Name' | translate }}</td>
    </tr>
    <tr>
        <td class="text-center">
            <switch class="mini" ng-model="uc.columns.colLastName"></switch>
        </td>
        <td nowrap>{{ 'Last Name' | translate }}</td>
    </tr>
    <tr>
        <td class="text-center">
            <switch class="mini" ng-model="uc.columns.colAddress"></switch>
        </td>
        <td nowrap>{{ 'Address' | translate }}</td>
    </tr>
    <tr>
        <td class="text-center">
            <switch class="mini" ng-model="uc.columns.colUsersRole"></switch>
        </td>
        <td nowrap>{{ 'Role' | translate }}</td>
    </tr>
    <tr>
        <td class="text-center">
            <switch class="mini" ng-model="uc.columns.colUsersCreated"></switch>
        </td>
        <td nowrap>{{ 'Created' | translate }}</td>
    </tr>
    <tr>
        <td class="text-center">
			<switch class="mini" ng-model="uc.columns.colUsersUpdated"></switch>
        </td>
        <td nowrap>{{ 'Updated' | translate }}</td>
    </tr>
</table>