<ol class="breadcrumb">
	<li ng-repeat="step in steps" ng-class="{active: $last}" ng-switch="$last || !!step.abstract">
		<i class="{{step.ncyBreadcrumb.icon}}"></i>
		<a ng-switch-when="false" href="{{step.ncyBreadcrumbLink}}">{{step.ncyBreadcrumbLabel | translate }}</a>
		<span ng-switch-when="true">{{step.ncyBreadcrumbLabel | translate }}</span>
	</li>
</ol>