<div>
	<div class="container">
		<div class="col-lg-8 col-lg-offset-2 text-center">
			<div class="logo">
				<h1>Application</h1>
			</div>
			<div class="container-fluid">
				<div class="row-fluid">
					<div class="col-lg-12">
						<div class="centering text-center error-container">
							<div class="text-center">
								<h2 class="without-margin">
									Application Platform
								</h2>
								<h4 ng-if="!globals.currentUser.licenseValid" class="text-warning">{{ 'Your License has Expired. Please Contact the System Admin' | translate }}</h4>
							</div>
							<div class="text-center">
								<h3>
									<small>{{ 'Choose an option below' | translate }}</small>
								</h3>
							</div>
							<hr>
							<ul class="pager">
								<li><a href="#/dashboard">&larr;{{ 'Dashboard' | translate }}</a></li>
								<li><a href="logout"> {{ 'Logout' | translate }} &rarr;</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /.col-lg-8 col-offset-2 -->
	</div>
</div>