<nav class="navbar navbar-default">
	<!-- /.container-fluid -->
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="pull-left" ncy-breadcrumb></div>
		<div class="navbar-header">
			<button id="notifications" type="button" class="navbar-toggle" ng-click="collapsed = !collapsed">
	        	<span class="sr-only">Toggle navigation</span>
	        	<span class="icon-bar"></span>
	        	<span class="icon-bar"></span>
	        	<span class="icon-bar"></span>
			</button>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse pull-right" collapse="!collapsed">			
			<ul class="nav navbar-nav">
				<li><a id="help" href="#" target="_blank"><i class="glyphicon glyphicon-question-sign"></i>{{ 'Help' | translate }}</a></li>
				<li class="dropdown" dropdown>
					<a href="#" id="settings" class="dropdown-toggle" dropdown-toggle role="button" aria-haspopup="true" aria-expanded="false">{{ 'Settings' | translate }}<span class="caret"></span></a>
					<ul class="dropdown-menu" dropdown-menu>
	        			<li><a id="systemSettings" href="#"><i class="glyphicon glyphicon-cog"></i>{{ 'System Settings' | translate }}</a></li>
      				</ul>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right login">
				<li>
					<span id="userName" class="logged-in-as">
						<i class="glyphicon glyphicon-user"></i> {{mc.userName}}
					</span>
					<a id="logout" href="logout"><i class="glyphicon glyphicon-off"></i>{{ 'Logout' | translate }}</a>
				</li>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container-fluid -->
</nav>
