<div class="modal-header" align="center">
    <h4 class="modal-title"><span class="glyphicon glyphicon-bell"></span>&nbsp;{{ mc.header }}</h4>
</div>
<div class="modal-body" align="center">
    {{ mc.body }}
</div>
<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="mc.cancel()">{{ 'No' | translate }}</button>
    <button class="btn btn-primary" type="button" ng-click="mc.confirm()">{{ 'Yes' | translate }}</button>
</div>
