<div class="btn-group" dropdown>
  <!-- button style dropdown -->
  <button ng-if="isButton" type="button" 
          class="btn btn-default"
          ng-bind="ngModel || default">
  </button>
  <button ng-if="isButton" type="button" class="btn btn-default dropdown-toggle" dropdown-toggle>
    <span class="caret"></span>
  </button>

  <!-- no button, plz -->
  <a ng-if="!isButton" href 
     class="dropdown-toggle"
     dropdown-toggle 
     ng-bind="ngModel || default">
  </a>
  <span ng-if="!isButton" class="caret"></span>

  <!-- dropdown items -->
  <ul class="dropdown-menu menu-size" role="menu"> 
    <li>
      <a href="#" 
         ng-bind="10"
         ng-click="select(10)"></a>
    </li> 
    <li>
      <a href="#" 
         ng-bind="20"
         ng-click="select(20)"></a>
    </li> 
    <li>
      <a href="#" 
         ng-bind="35"
         ng-click="select(35)"></a>
    </li>
    <li>
      <a href="#"
         ng-bind="50"
         ng-click="select(50)"></a>
    </li>
    <li>
      <a href="#"
         ng-bind="75"
         ng-click="select(75)"></a>
    </li>
  </ul>
</div>