<div class="pagination" ng-if="pages.length >= 2">
  <ul class="pagination">
    <li ng-if="currentPage > 1">
      <a ng-click="selectPage(1)"><i class="glyphicon glyphicon-fast-backward"></i></a>
    </li>
    <li ng-repeat="page in pages" ng-class="{active: page==currentPage}">
      <a ng-click="selectPage(page)">{{page}}</a>
    </li>
    <li ng-if="currentPage < numPages">
      <a ng-click="selectPage(numPages)"><i class="glyphicon glyphicon-fast-forward"></i></a>
    </li>
  </ul>
</div>
<span class="pagination-info pull-right" ng-if="totalItemCount > 0">{{(currentPage-1)*stItemsByPage+1}}-{{(currentPage === numPages) ? totalItemCount : currentPage*stItemsByPage}} {{ 'of' | translate }} {{totalItemCount}} {{ 'Records' | translate }}</span>