<div data-ng-controller="NavigationBarController as nc">
	<ul class="sidebar">
		<li class="sidebar-main">
			<a ng-click="nc.toggleSidebar(mc.toggle = !mc.toggle)">
				<img src="img/logo.png" class="img-logo" /> 
				<span class="glyphicon glyphicon-transfer"></span>
			</a>
		</li>
	</ul>
	<div class="sidebar-canvas">
		<div class="tree-menu">
			<ul class="nav nav-sidenav trunk">
				<li class="twig">
					<a href="#/dashboard" class="leaf" ng-class="nc.navClass(['dashboard'])" ng-click="isDashboard = nc.captureEventId($event)">
						<i class="padding-icon text-muted glyphicon glyphicon-dashboard"></i>
						<span>{{ 'Dashboard' | translate}}</span>
					</a>
				</li>
				<li class="twig">
					<a id="role" href="javascript:void(0)" data-toggle ng-click="isRole = nc.captureEventId($event)" ng-attr-aria-expanded="{{!nc.isCollapse(isRole)}}">
						<i class="padding-icon text-muted glyphicon glyphicon-education"></i>
						<span>{{ 'Roles' | translate }}</span>
					</a>
					<ul collapse="nc.isCollapse(isRole)">
						<li>
							<a href="#/roleAdd" class="leaf" ng-class="nc.navClass(['roleAdd'])">
								<i class="padding-icon text-muted glyphicon glyphicon-plus"></i>
								<span>{{ 'Add Role' | translate}}</span>
							</a>
						</li>
						<li>
							<a href="#/roles" class="leaf" ng-class="nc.navClass(['roles','roleEdit'])">
								<i class="padding-icon text-muted glyphicon glyphicon-eye-open"></i>
								<span>{{ 'View Role' | translate}}</span>
							</a>
						</li>
					</ul>
				</li>
				<li class="twig">
					<a id="user" href="javascript:void(0)" data-toggle ng-click="isUser = nc.captureEventId($event)" ng-attr-aria-expanded="{{!nc.isCollapse(isUser)}}">
						<i class="padding-icon text-muted glyphicon glyphicon-user"></i>
						<span>{{ 'Users' | translate }}</span>
					</a>
					<ul collapse="nc.isCollapse(isUser)">
						<li>
							<a href="#/userAdd" class="leaf" ng-class="nc.navClass(['userAdd'])">
								<i class="padding-icon text-muted glyphicon glyphicon-plus"></i>
								<span>{{ 'Add User' | translate}}</span>
							</a>
						</li>
						<li>
							<a href="#/users" class="leaf" ng-class="nc.navClass(['users', 'userEdit'])">
								<i class="padding-icon text-muted glyphicon glyphicon-eye-open"></i>
								<span>{{ 'View User' | translate}}</span>
							</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
	<div class="sidebar-footer">
		<div class="col-xs-3">
			<a href="https://bitbucket.org/shourien/application/" target="_blank"> {{ ' Application ' | translate }} </a>
		</div>
		<div class="col-xs-5">
			<a href="https://bitbucket.org/shourien/application/issues" target="_blank"> {{ ' Support ' | translate }} <i class="glyphicon glyphicon-envelope"></i> </a>
		</div>
	</div>
</div>